@import './colorVariable';

.page-dark {
    background-color: $base-background-color !important;
}

.slide-menu-dark {
    background-color: #353535 !important;
}

.svg-dark {
    fill: $svg-color !important;
}

.work-name-dark{
    color: $work-name-color !important;
}

.maker-name-dark{
    color: $maker-name-color !important;
}

.link-dark{
    color:rgb(134, 255, 255) !important;
}
