@import "./common";

.dlsite-darkmode-true {
    .dialog-container {
        .dialog-header {
            background-color: $content-header-bg !important;
            color: $main-text-color !important;
        }
        .dialog-body,
        ol li {
            background-color: $content-box-bg !important;
            color: $main-text-color !important;
            .info {
                .main {
                    color: $main-text-color !important;
                }
                .sub {
                    color: $sub1-text-color !important;
                }
            }

            .active {
                color: #1f9aff !important;
            }
            .is-touch {
                color: #000 !important;
            }
            svg {
                path {
                    fill: $svg-color !important;
                }
                &.checked {
                    path {
                        fill: #1f9aff !important;
                    }
                }
            }
        }
    }

    .zy-dialog-content {
        .zy-dialog-header {
            background-color: $content-box-bg !important;
            color: $main-text-color;
        }
        .zy-dialog-footer {
            .zy-dialog-footer-button {
                &.zy-dialog-footer-button-alt{
                    background-color: $content-box-bg !important;
                    color: $main-text-color;
                }
                &.zy-dialog-footer-button-main{
                    background-color: $content-box-bg !important;
                    color: #1f9aff !important;
                }
            }
        }
    }
}
