@import "./_common.scss";

.dlsite-darkmode-true {
    .page-content {
        .header {
            background-color: $content-header-color !important;
            color: #fff !important;
        }
        ol,
        li {
            background-color: $content-box-color !important;
            color: #c9c9c9 !important;
            a {
                color: #c9c9c9 !important;
            }
        }
        .version {
            color: #c9c9c9 !important;
        }
    }

    .content-box {
        div {
            h1,
            h2,
            h3 {
                color: #fff !important;
            }
        }
    }
}
