@import "./colorVariable";

.logout-header-dark{
    background-color: $content-box-color !important;
}

.logout-header-word-dark{
    color: $maker-name-color !important;
}

.logout-footer-dark{
    background-color: $content-box-color !important;
}

.logout-footer-word-dark{
    color: $maker-name-color !important;
}