@import "./_common.scss";

.dlsite-darkmode-true {
    .page-content {
        .list-work {
            .list {
                background-color: $content-box-color !important;
                div {
                    color: #c9c9c9 !important;
                }
            }
        }
    }
    .page {
        .mylist-work {
            .page-content {
                .list-name-box {
                    //background-color: $content-box-color !important;
                    div {
                        color: #c9c9c9 !important;
                    }
                }
                .list-work {
                    .work {
                        background-color: $content-box-color !important;
                        div {
                            color: #c9c9c9 !important;
                        }
                    }
                    .icons div {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}
