@import "./_common.scss";

.dlsite-darkmode-true {
    .page-content {
        section {
            .header {
                background-color: $content-header-color !important;
                color: #fff !important;
            }
            ol,
            li {
                background-color: $content-box-color !important;
                div,
                span {
                    color: #c9c9c9 !important;
                }
            }
        }
    }
    .dialog-mask {
        .dialog-header {
            background-color: $content-header-color !important;
            h3 {
                color: #fff !important;
            }
        }
        .dialog-body {
            ol,
            li {
                background-color: $content-box-color !important;
                div,
                span {
                    color: #c9c9c9 !important;
                }
            }
        }
    }
    .section-empty {
        background-color: $content-box-color !important;
        h2,
        h3 {
            color: #c9c9c9 !important;
        }
    }
}