@import "./_common.scss";

.dlsite-darkmode-true {
    .page-content {
        .used-storage {
            background-color: $content-header-color !important;
            color: #fff !important;
        }
        .content-box {
            ol,
            li {
                background-color: $content-box-color !important;
                div {
                    color: #c9c9c9 !important;
                }
            }
        }
    }
}
