@import "./component/common";
@import "./component/slideMenu";

.dlsite-darkmode-true {
    &.dlsite-darkmode-mylist {
        .list,
        .list-info {
            background-color: $content-box-bg !important;
            .work-name {
                color: $main-text-color !important;
            }
            .maker-name {
                color: $sub1-text-color !important;
            }
        }

        .list-work {
            .work {
                background-color: $content-box-bg !important;
                .work-name {
                    color: $main-text-color !important;
                }
                .maker-name {
                    color: $sub1-text-color !important;
                }
            }
        }
    }
}
