.dlsite-darkmode {
    background-color: #242424 !important;
}

.page-dark {
    background-color: #242424 !important;
}

.slide-menu-dark {
    background-color: #353535 !important;
}

.svg-dark {
    fill: #888888 !important;
}

.word-dark{
    color: #888888 !important;
}