$base-background-color: #242424;
$content-box-color: #323232;
$work-name-color: #c9c9c9;
$maker-name-color: #9e9e9e;
$svg-color: #888888;

body {
    background-color: $base-background-color !important;
    color: $work-name-color !important;

    a {
        color: $work-name-color !important;
    }

    .headerCore_top {
        .header_dropdown_nav_Link {
            color: $work-name-color !important;
        }
    }
    .headerCore-main div {
        color: $work-name-color !important;
        background-color: $content-box-color !important;
    }
    .headerCore-sub {
        i {
            color: $work-name-color !important;
        }
        .dropdown_list_inner {
            background-color: $content-box-color !important;

            li {
                background-color: $content-box-color !important;
            }
        }
    }

    #left {
        div,
        li {
            color: $work-name-color !important;
            background-color: $content-box-color !important;
        }
    }

    .search_tag a {
        color: #333 !important;
    }

    .work_category a {
        color: #333 !important;
    }

    .display_filter_label {
        color: $work-name-color !important;
    }
}
